body {
  background-color: #0a0908;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  color: #C1FFFF;
}
h2 {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}
h3 {
  text-align: left;
  color: #ffffff;
  font-size: 24px;
}
/* class styling */

.about {
  background-color: #22333b;
  color: white;
}
.skills, .softskills-list {
  background-color: #22333b;
  color: white;
}
.projects {
  background-color: #22333b;
  color: white;
}
.contact {
  background-color: #5e503f;
  color: white;
}
.contact-list {
  color: white;
  list-style: none;
  display: inline;
  text-align: center;
}
/* section styling */
 .projects{ 
  display: flex; 
  flex-wrap: wrap;
}
 .project {
  width: 22%;
  margin: 10px;
  padding: 20px 10px;
  background: #5e503f; 
  border-radius: 10%;
 }
 .project img {
  width: 100%;
  border: 3px, solid, #C1FFFF;
  border-radius: 15%;
  object-fit: cover;
 }
 
 .project-title {
  text-align: center;
 }
 .project h3:hover {
   color: black;
 }
.contact-list {
  padding: 20px;
}