body {
  background-color: #28231C;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: #C1FFFF;
}
h2 {
  text-align: center;
  color: #C1FFFF;
  font-size: 16px;
}
/* class styling */

.about {
  color: white;
}